In [1]:
# I need to search with the given link ('?ref=category'), look for 
# video with match = re.search("data-has-video=\"true\"",project_raw)

In [2]:
import requests
from bs4 import BeautifulSoup
import pprint
import pymysql as mdb
import re
import pandas as pd
import numpy as np
from unidecode import unidecode

In [3]:
con = mdb.connect('localhost','root','hobbes','kickstarter')

In [5]:
with con:  
    cur = con.cursor()
    cur.execute("SHOW DATABASES")
    
    rows = cur.fetchall()
    for row in rows:
        print row

('information_schema',)
('kickscrape',)
('kickstarter',)
('mysql',)
('performance_schema',)
('test',)
('testdb',)
('world_innodb',)

In [6]:
# #Create and describe my new table
# with con:
#     cur = con.cursor()
#     cur.execute("DROP TABLE IF EXISTS Has_video")
#     cur.execute("CREATE TABLE Has_video(Id INT PRIMARY KEY AUTO_INCREMENT,\
#                  Video_present TINYINT,\
#                  Main_page_text LONGTEXT)")
    
#     cur.execute("DESCRIBE Has_video")
#     rows = cur.fetchall()
    
#     for row in rows:
#         print row[0:3]
#     cur.close()

In [7]:
# Now make a dataframe of all primary keys and URL, loop through them

In [8]:
with con:
    cur = con.cursor()
    cur.execute("Select Id,URL FROM Project_info");
    id_url_rows = cur.fetchall()
    cur.close()

In [9]:
id_url_df = pd.DataFrame(np.asarray(id_url_rows),columns=['Id','URL'])

In [10]:
id_url_df.tail()

            Id                                                URL
191379  191380  https://www.kickstarter.com/projects/207940292...
191380  191381  https://www.kickstarter.com/projects/184521459...
191381  191382  https://www.kickstarter.com/projects/209708895...
191382  191383  https://www.kickstarter.com/projects/thelifecu...
191383  191384  https://www.kickstarter.com/projects/reaper889...

In [12]:
n_projects = np.shape(id_url_df)[0]
print n_projects

191384

In [21]:
with con:
    cur = con.cursor()
    for i in range(157011,n_projects):
        
        if not i%1000:
            print i
        
        primary_key = id_url_df.ix[i,'Id']
        url = id_url_df.ix[i,'URL']

        has_video = 0
        project_request = requests.get(url)
        project_raw = unidecode(project_request.text)
        match = re.search("video_height",project_raw)
        if match:
            has_video = 1
            
        cur.execute("INSERT INTO Has_video () VALUES(%s,%s,%s)",\
            [primary_key,has_video,project_raw])
        
        con.commit()
    
    cur.close()

158000
159000
160000
161000
162000
163000
164000
165000
166000
167000
168000
169000
170000
171000
172000
173000
174000
175000
176000
177000
178000
179000
180000
181000
182000
183000
184000
185000
186000
187000
188000
189000
190000
191000