In [94]:
# add, organize predictor vectors
# to do _____
# later -- add video

In [95]:
# doing ______

In [96]:
# done ____
# added n creator created
# added year
# parsed large category

# pre-processing -- 
# define outcome
# earliest intn shipping - 1331091810 (March 6, 2012) -- restrict to this range
# set unspecified to 0
# drop 0 launch times, -1

In [63]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math as math
from IPython.display import display
from IPython.core.pylabtools import getfigs
from sklearn import linear_model 
import time
import pymysql as mdb
import re
#import seaborn as sns
import time

In [91]:
from extract_kickstarter_features import *
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [4]:
%matplotlib qt

In [5]:
#from extract_kickstarter_features import *
#%load_ext autoreload
#%autoreload 2

In [9]:
con = mdb.connect('localhost','root','hobbes','kickstarter')

In [17]:
with con:
    cur = con.cursor()
    cur.execute("SELECT Launch_s FROM Predictors WHERE \
                Ships_intn = 1 AND Reward_ship_days >= 0 AND N_creator_backed >= 0 AND \
                Outcome != 'live' AND Country = 'US' AND Currency = 'USD'")
    rows = cur.fetchall()
    cur.close()

In [18]:
print np.shape(rows)

(78048, 1)

In [19]:
ships_intn_launch_s = np.asarray(rows)

In [20]:
np.shape(ships_intn_launch_s)

(78048, 1)

In [21]:
np.min(ships_intn_launch_s)

1331091810

In [23]:
#earliest international ship date 
import time
time.ctime(1331091810)

'Tue Mar  6 22:43:30 2012'

In [56]:
t_struct = time.localtime(1331091810) 
print t_struct

time.struct_time(tm_year=2012, tm_mon=3, tm_mday=6, tm_hour=22, tm_min=43, tm_sec=30, tm_wday=1, tm_yday=66, tm_isdst=0)

In [ ]:
# total campaigns after this date

In [35]:
with con:
    cur = con.cursor()
    cur.execute("SELECT Count(Launch_s) FROM Predictors WHERE Launch_s >= 1331091810\
    AND Country = 'US' AND Currency = 'USD' AND Outcome = 'failed'")
    rows = cur.fetchall()
    print rows
    cur.close()

((59855,),)

In [36]:
# 10469 cancelled campaigns
# 228 suspended
# 4613 live  -- low roi.
# 47816 successful
# 59855 failed

In [40]:
predictor_df = pd.read_pickle('predictor_df_unprocessed.save')

In [41]:
predictor_df.head()

,Id,Url,Outcome,Pledged,Goal,Category,Subcategory,Currency,Country,Location,...,N_rewards,Min_reward,Median_reward,Max_reward,Reward_ship_days,Ships_intn,N_links,N_figs,Body_n_words,N_creator_backed
0,96,https://www.kickstarter.com/projects/199128305...,successful,5040,5000,Theater,theater,USD,US,st-paul-mn,...,8,10,175,5000,110,-1,1,0,812,18
1,97,https://www.kickstarter.com/projects/alexbiske...,successful,10605,10000,Theater,theater,USD,US,new-york-ny,...,10,5,125,5000,31,-1,5,1,792,7
2,99,https://www.kickstarter.com/projects/682636921...,successful,18030,18000,Theater,theater,USD,US,boston-ma,...,19,5,500,10000,4,1,0,0,540,3
3,100,https://www.kickstarter.com/projects/139103766...,successful,7062,7000,Plays,theater/plays,USD,US,new-york-ny,...,8,10,87,1000,56,-1,0,0,372,4
4,101,https://www.kickstarter.com/projects/scparker/...,successful,8660,8150,Musical,theater/musical,USD,US,hollywood-los-angeles-ca,...,11,4,42,815,41,0,1,1,1405,8

In [93]:
print concat_features(9006)

technology
technology
[9006, 'https://www.kickstarter.com/projects/1186217328/the-glitch?ref=category', 'successful', 30137, 14500, 'technology', 'Technology', 'USD', 'US', 'raleigh-nc', 1344144345, 60, 7, 10, 2012, 8, 5, 6, 1, 8, 10, 118, 700, 118, -1, 4, 4, 1147, 0, 1]

In [99]:
# after I scrape the has video, rebuild predictors db
# new db fields = has video, launch year, overall category, n creator backed