In [1]:
import pymysql as mdb
import json
import re
import pandas as pd
import numpy as np
import pprint

In [2]:
con = mdb.connect('localhost','root','hobbes','kickstarter');

In [3]:
with con:
    
    cur = con.cursor()
    cur.execute("SHOW DATABASES")
    
    rows = cur.fetchall()
    for row in rows:
        print row

('information_schema',)
('kickscrape',)
('kickstarter',)
('mysql',)
('performance_schema',)
('test',)
('testdb',)
('world_innodb',)

In [5]:
with con:
    cur = con.cursor()
    cur.execute("DROP TABLE IF EXISTS Project_info")
    cur.execute("CREATE TABLE Project_info(Id INT PRIMARY KEY AUTO_INCREMENT,\
                 Creator_name VARCHAR(500),\
                 Project_id BIGINT)")
    
    cur.execute("DESCRIBE Project_info")
    rows = cur.fetchall()
    
    for row in rows:
        print row[0:3]
    cur.close()

('Id', 'int(11)', 'NO')
('Creator_name', 'varchar(500)', 'YES')
('Project_id', 'bigint(20)', 'YES')

/usr/local/lib/python2.7/site-packages/pymysql/cursors.py:134: Warning: Unknown table 'kickstarter.project_info'
  result = self._query(query)

In [6]:
with con:
    cur = con.cursor()
    
    cur.execute("DESCRIBE Project_info")
    rows = cur.fetchall()
    
    for row in rows:
        print row[0:3]
    cur.close()

('Id', 'int(11)', 'NO')
('Creator_name', 'varchar(500)', 'YES')
('Project_id', 'bigint(20)', 'YES')

In [7]:
to_insert = ['Jamie Fitzgerald',4885016]

In [16]:
with con:
    cur = con.cursor()
    cur.execute("INSERT INTO Project_info(Creator_name,Project_id) VALUES(%s,%s)",to_insert)
    con.commit()
    cur.close()

In [32]:
with con:
    cur = con.cursor()
    cur.execute("INSERT INTO Project_info () VALUES(%s,%s,%s)",[10,'Jamie Fitzgerald',4885016])
    cur.close()

In [36]:
with con:
    cur = con.cursor()
    cur.execute("INSERT INTO Project_info () VALUES(%s,%s,%s)",[12,'Jamie Fitzgerald',4885016])
    cur.close()

In [37]:
with con:
    cur = con.cursor()
    cur.execute("SELECT * FROM Project_info")
    rows = cur.fetchall()
    
    for row in rows:
        print row
    cur.close()

(1, 'Jamie Fitzgerald', 4885016)
(2, 'Jamie Fitzgerald', 4885016)
(3, 'Jamie Fitzgerald', 4885016)
(5, 'Jamie Fitzgerald', 4885016)
(10, 'Jamie Fitzgerald', 4885016)
(12, 'Jamie Fitzgerald', 4885016)

In [ ]:
with con:
    cur = con.cursor()
    cur.execute("INSERT INTO Project_info VALUES(%r)",(tuple(p_info),))
    cur.close()